@use "../../Partials/mixins" as *;
@use "../../Partials/variables" as *;

.order-item {
  &__wrapper {
    @include justify-align("", end);
  }
  &__type {
    font-family: $secondary-font-family;
    font-weight: 700;
    font-size: 20px;
  }
  &__dots {
    width: 50%;
    height: 40px;
    margin-left: 5px;

    border-bottom: 3px dotted grey;
  }
  &__price {
    margin-top: 5px;
    font-family: $primary-font-family;
    font-weight: 400;
    font-size: 12px;
  }
  &__btn {
    cursor: pointer;
    padding: 1rem;
    width: 20px;
    border: 1px solid black;
    height: 20px;
    @include justify-align(center, center);
  }
  &__select-wrapper {
    width: 12rem;
    // background-color: red;
    @include justify-align(space-evenly, center);
  }
  &__trash {
    display: flex;
  }
}