.order-item {
  &__wrapper {
    display: flex;
    align-items: end;
  }
  &__type {
    font-family: PT Serif;
    font-weight: 700;
    font-size: 20px;
  }
  &__dots {
    width: 50%;
    height: 40px;
    margin-left: 5px;

    border-bottom: 3px dotted grey;
  }
  &__price {
    margin-top: 5px;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 12px;
  }
}
