@use "../../Partials/variables" as *;
@use "../../Partials/mixins" as *;
// * representerar alla filer i ex mixins eller variables
.navbar {
  // height: 113px;
  height: 13vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $primary-background-color;
  background-image: url("../../assets/header.svg");
  @include justify-align(space-between, center);
  // här använder jag argument för o skicka till justify-align

  &__burger-wrapper {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    background-color: white;
    border-radius: 50%;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
  }

  &__basket {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: $secondary-background-color;
    border-radius: 50%;
    // här använder jag argument för o skicka till justify-align
    z-index: 10;
    @include justify-align(center, center);
    margin-right: 1rem;
  }
  &__icon {
    color: white;
  }
  &__cart-count {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: $third-background-color;
    // här använder jag argument för o skicka till justify-align
    @include justify-align(center, center);
    position: absolute;
    top: 10px;
    right: 15px;
    font-family: $secondary-font-family;
  }
}
