.navbar {
  height: 113px;
  background-color: rgba(243, 228, 225, 1);
  background-image: url("../assets/header.svg");
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__burger-wrapper {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    background-color: white;
    border-radius: 50%;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  &__basket {
    width: 60px;
    height: 60px;
    background-color: rgba(47, 41, 38, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
  }
  &__icon {
    color: white;
  }
  &__cart-count {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgba(229, 103, 78, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 15px;
  }
}
