.status-modal {
  background-color: rgba(229, 103, 78, 1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  &__order-number {
    font-family: Work Sans;
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }
  &__info {
    font-family: PT Serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 43.2px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }
  &__time-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
  }
  &__time {
    font-family: Work Sans;
    font-weight: 700;
    font-size: 22px;
    color: rgba(255, 255, 255, 1);
  }
  &__minutes {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 22px;
    color: rgba(255, 255, 255, 1);
  }
}
