@mixin justify-align {
  justify-content: center;
  align-items: center;
}


@mixin typography ($font-weight, $font-size, $line-height, $letter-spacing) {
	font-weight: $font-weight;
	font-size: $font-size;
	line-height: $line-height;
	letter-spacing: $letter-spacing;

}