@mixin justify-align {
  justify-content: center;
  align-items: center;
}

//jakob
@mixin justify-align($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin typography($font-weight, $font-size, $line-height, $letter-spacing) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}
