$font-primary-color: rgb(47, 41, 38);
$font-seconday-color: rgba(255, 255, 255, 1);

$primary-background-color: rgba(243, 228, 225, 1);
$secondary-background-color: rgba(47, 41, 38, 1);
$third-background-color: rgba(229, 103, 78, 1);
$fourth-background-color: rgba(229, 103, 78, 0.494);

$primary-font-family: "Work Sans", sans-serif;
$secondary-font-family: "PT Serif", serif;
