* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.ErrorPage {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	text-align: center;

}

.btn {
	
	width: fit-content;
	margin: 0 auto;
}